#back {
  background-color: var(--color-inverse);
  position: fixed;
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  opacity: 0;
	transition: opacity .25s ease-in;
	will-change: opacity;
	@at-root .is-active #{&} {
		opacity: 1;
	}
}