#content {
	background: var(--color-inverse);
	position: fixed;
	top: 0;
	height: 100%;
	width: 90%;
	right: 0;
	transform: translateX(200%);
	transition: transform .4s linear .2s;
	will-change: transform;
	@at-root .is-active #{&} {
		transform: translateX(0);
	}
}