#back {
  background-color: #fff;
  position: fixed;
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  opacity: 0;
	transition: opacity .25s ease-in;
	will-change: opacity;
}

.is-active #back {
  opacity: 1;
}