@font-face {
  font-family: "mango";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/MangoSans-Regular.woff2") format("woff2"), url("../assets/fonts/MangoSans-Regular.woff") format("woff"), url("../assets/fonts/MangoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mango";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/MangoSans-Light.woff2") format("woff2"), url("../assets/fonts/MangoSans-Light.woff") format("woff"), url("../assets/fonts/MangoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "austin";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/AustinCy-Light.woff2") format("woff2"), url("../assets/fonts/AustinCy-Light.woff") format("woff"), url("../assets/fonts/AustinCy-Light.ttf") format("truetype");
}