doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Welcome Pack
    link(rel='stylesheet', href='css/styles.css')
  body
    section.section.section--home
      h2
        | Hey
        br
        | buddy!
      p Welcome, scroll and enjoy.
    section.section.section--mango
      h2 A dream come true
      p
        a(href='pages/mango.html')
          | Breve repaso por la historia y los orígenes de MANGO: desde 1984 hasta la actualidad.
    section.section.section--team
      h2 We are creative
      p
        a(href='pages/team.html')
          | ¡Bienvenido a nuestro equipo! Te contamos algunas cosillas sobre nosotros, qué hacemos, cómo trabajamos y alguna que otra curiosidad.
    section.section.section--employee
      h2
        | You, 
        i us
        | .
      p
        a(href='pages/employee.html')
          | En palabras de Isak Andic “lo más importante de MANGO es su gente”, en este breve resumen te contamos todo lo que tienes que tener en cuenta ahora que trabajas en MANGO.
    main
      #content
      //
        <div id="contentBack">
        <button class="content-back">Back</button>
        </div>
    script(src='js/vendor/jquery-3.3.1.min.js')
    script(src='js/vendor/jquery.scrollify.js')
    script(src='js/index.js')
